[Unit]
Description=Update DNS zone data on Hetzner name server via API

[Service]
ExecStart=/usr/local/bin/hetznerdns/hetznerDnsUpdate.py
Restart=on-failure
User=hetznerdnsuser
Group=hetznerdnsuser

[Install]
WantedBy=multi-user.target
